<!DOCTYPE html>

<html data-theme="cupcake" lang="pt-BR">
    <head>
        <link rel="stylesheet" href="../static/dist/css/output.css">
        <title>LogCash: {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="min-h-svh flex flex-col justify-between">
        <!-- Navbar -->
        <nav class="navbar justify-between bg-base-300">
            <!-- Logo -->
            <a class="btn btn-ghost text-2xl" href="/">
                <img alt="Logo" src="../static/svg/logo.svg" class="w-10" />
                LogCash
            </a>

            <!-- Menu for mobile -->
            <div class="dropdown dropdown-end sm:hidden">
                <button class="btn btn-square btn-ghost">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      class="inline-block h-5 w-5 stroke-current">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>

                <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
                    <li><a>Como Usar</a></li>
                    {% if session["user_id"] %}
                    <li><a href="/index">Geral</a></li>
                    <li><a>Pessoal</a></li>
                    <li><a>Empresa</a></li>
                    <div class="p-1"></div>
                    <a class="btn btn-sm btn-secondary" href="/logout">Log Out</a>
                    {% else %}
                    <a class="btn btn-sm btn-primary" href="/register">Registrar</a>
                    {% endif %}
                </ul>
            </div>

            <!-- Menu for desktop -->
            <ul class="hidden menu sm:menu-horizontal gap-2">
                <li><a>Como Usar</a></li>
                {% if session["user_id"] %}
                <li><a href="/index" class="{{ 'active' if active_page == 'geral' else '' }}">Geral</a></li>
                <li><a href="/pessoal" class="{{ 'active' if active_page == 'pessoal' else '' }}">Pessoal</a></li>
                <li><a class="{{ 'active' if active_page == 'empresa' else '' }}">Empresa</a></li>
                <a class="btn btn-sm btn-secondary" href="/logout">Log Out</a>
                {% else %}
                <a class="btn btn-sm btn-primary" href="/register">Registrar</a>
                {% endif %}
            </ul>
        </nav>
        
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="p-2"></div>
                <div class="flex flex-col items-center -mb-5">
                    {% for category, message in messages %}
                        <div 
                            role="alert" 
                            class="alert w-1/2 {{ 'alert-error' if category == 'error' else 'alert-success' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                class="h-6 w-6 shrink-0 stroke-current" 
                                fill="none" 
                                viewBox="0 0 24 24">
                                <path 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    stroke-width="2" 
                                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <main class="grow">
            {% block main %}{% endblock %}
            {% block content %}{% endblock %}
        </main>

        <footer class="footer footer-center bg-base-300 text-base-content p-4">
            <aside>
              <p>Made for my CS50x final project 2024 - All rights reserved</p>
            </aside>
        </footer>
    </body>
</html>
