{% extends "layout.html" %}

{% block title %}
    Pessoal
{% endblock %}
{% block main %}
<div class="bg-primary p-8 rounded-lg shadow-lg text-white text-center mb-6">
        <h2 class="text-2xl sm:text-4xl font-semibold tracking-tight">
            <span class="block">Suas Despesas Pessoais</span>
        </h2>
    </div>

<div class="flex sm:flex-row flex-col justify-center items-start gap-5">
  <div class="flex-1 flex flex-col items-center sm:ml-20 sm:mr-10">
    <div class="stats shadow">
      <div class="stat">
          <div class="stat-title">Despesa Fixa</div>
          <div class="stat-value">{{ despesa_fixa | brl }}</div>
          <div class="stat-desc">
              {% if despesa_fixa_anterior == None%}
                  Sem dados para o mês anterior
              {% elif despesa_fixa_anterior > 0%}
                  {% set percentage_diff = ((despesa_fixa - despesa_fixa_anterior) / despesa_fixa_anterior) * 100 %}
                  {{ percentage_diff | round(2) }}% 
                  {% if percentage_diff > 0 %}
                      a mais
                  {% else %}
                      a menos
                  {% endif %}
                  que o mês anterior
              {% else %}
                  Sem dados para o mês anterior
              {% endif %}
          </div>
      </div>
    </div>

    <div class="p-2"></div>
    <article class="prose">
      <h3>Nova Despesa Fixa</h3>
    </article>
    <div class="p-2"></div>
      <form action="/pessoal_fixa" method="post">
        <div class="flex gap-4 items-center">
          <select class="select select-primary w-full max-w-xs" name="selectfx">
            <option disabled selected>Tipo de Despesa Fixa</option>
            {% for cFixo in cFixo %}
              <option value="{{ cFixo.categoria }}">{{ cFixo.categoria }}</option>
            {% endfor %}
          </select>
          <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" name="inputfx" />
        </div>
        <div class="p-2"></div>
        <div class="flex justify-center">
        <button class="btn btn-primary" type="submit" name="submitfx">Adicionar</button>
        </div>
      </form>
    <div class="p-5"></div>
    <div class="flex justify-center">
      <table class="table table-xs">
        <thead>
          <tr>
            <th class="px-8">Categoria</th>
            <th class="px-8">Valor</th>
            <th class="px-8">Data</th>
            <th class="px-8"></th>
          </tr>
        </thead>
        <tbody>
          {% for row in lista_fixo|reverse %}
          <tr>
            <td class="px-8">{{ row.categoria }}</td>
            <td class="px-8">{{ row.valor | brl}}</td>
            <td class="px-8">{{ row.formatted_date }}</td>
            <form action="/delete" method="post">
              <input name="id" type="hidden" value="{{ row.id }}">
              <td class="px-4"><button class="bg-gray-500 text-white text-sm py-1 px-3 rounded hover:bg-blue-400">Delete</button></td>
            </form>
          </tr>
          {% endfor %}
          <!-- Add more rows here -->
        </tbody>
        <tfoot>
          <tr>
            <th class="px-8">Categoria</th>
            <th class="px-8">Valor</th>
            <th class="px-8">Data</th>
            <th class="px-8"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="flex-1 flex flex-col items-center sm:ml-10 sm:mr-20">
    <div class="stats shadow">
      <div class="stat">
          <div class="stat-title">Despesa Variável</div>
          <div class="stat-value">{{ despesa_variavel | brl }}</div>
          <div class="stat-desc">
              {% if despesa_variavel_anterior == None%}
                  Sem dados para o mês anterior
              {% elif despesa_variavel_anterior > 0%}
                  {% set percentage_diff = ((despesa_variavel - despesa_variavel_anterior) / despesa_variavel_anterior) * 100 %}
                  {{ percentage_diff | round(2) }}% 
                  {% if percentage_diff > 0 %}
                      a mais
                  {% else %}
                      a menos
                  {% endif %}
                  que o mês anterior
              {% else %}
                  Sem dados para o mês anterior
              {% endif %}
          </div>
      </div>
    </div>
    <div class="p-2"></div>
    <article class="prose">
      <h3>Nova Despesa Variável</h3>
    </article>
    <div class="p-2"></div>
    <form action="/pessoal_variavel" method="post">
      <div class="flex gap-4 items-center">
        <select class="select select-primary w-full max-w-xs" name="selectvr">
          <option disabled selected>Tipo de Despesa Variável</option>
          {% for cVariavel in cVariavel %}
            <option value="{{ cVariavel.categoria }}">{{ cVariavel.categoria }}</option>
          {% endfor %}
        </select>
        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" name="inputvr" />
      </div>
      <div class="p-2"></div>
      <div class="flex justify-center">
      <button class="btn btn-primary" type="submit" name="submitvr">Adicionar</button>
      </div>
    </form>
    <div class="p-5"></div>
        <div class="flex justify-center">
      <table class="table table-xs">
        <thead>
          <tr>
            <th class="px-8">Categoria</th>
            <th class="px-8">Valor</th>
            <th class="px-8">Data</th>
            <th class="px-8"></th>
          </tr>
        </thead>
        <tbody>
          {% for row in lista_variavel|reverse %}
          <tr>
            <td class="px-8">{{ row.categoria }}</td>
            <td class="px-8">{{ row.valor | brl}}</td>
            <td class="px-8">{{ row.formatted_date }}</td>
            <td class="px-4"><button class="bg-gray-500 text-white text-sm py-1 px-3 rounded hover:bg-blue-400">Delete</button></td>
          </tr>
          {% endfor %}
          <!-- Add more rows here -->
        </tbody>
        <tfoot>
          <tr>
            <th class="px-8">Categoria</th>
            <th class="px-8">Valor</th>
            <th class="px-8">Data</th>
            <th class="px-8"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  </div>
</div>
<div class="p-5"></div>

{% endblock %}
{% block content %}
{% endblock %}