{% extends "layout.html" %}

{% block title %}
    Pessoal
{% endblock %}
{% block main %}
<div class="flex sm:flex-row flex-col justify-center items-start gap-5 mt-10">
  <div class="flex-1 flex flex-col items-center sm:ml-20 sm:mr-10">
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Despesas Fixas</div>
        <div class="stat-value">{{15000 | brl}}</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
    </div>
    <div class="p-2"></div>
    <article class="prose">
      <h3>Nova Despesa Fixa</h3>
    </article>
    <div class="p-2"></div>
    <div class="flex gap-4">
      <select class="select select-primary w-full max-w-xs">
        <option disabled selected>Tipo de Despesa Fixa</option>
        {% for cFixo in cFixo %}
          <option value="{{ cFixo.categoria }}">{{ cFixo.categoria }}</option>
        {% endfor %}
      </select>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="p-2"></div>
    <button class="btn btn-primary">Adicionar</button>
    <div class="p-5"></div>
    <table class="table table-xs">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Company</th>
          <th>Location</th>
          <th>Last Login</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>Littel, Schaden and Vandervort</td>
          <td>Canada</td>
          <td>12/16/2020</td>
          <td>Blue</td>
        </tr>
        <!-- Add more rows here -->
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Company</th>
          <th>Location</th>
          <th>Last Login</th>
          <th>Color</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="flex-1 flex flex-col items-center sm:ml-10 sm:mr-20">
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Despesas Variáveis</div>
        <div class="stat-value">{{15000 | brl}}</div>
        <div class="stat-desc">21% more than last month</div>
      </div>
    </div>
    <div class="p-2"></div>
    <article class="prose">
      <h3>Nova Despesa Variável</h3>
    </article>
    <div class="p-2"></div>
    <div class="flex gap-4">
      <select class="select select-primary w-full max-w-xs">
        <option disabled selected>Tipo de Despesa Variável</option>
        {% for cVariavel in cVariavel %}
          <option value="{{ cVariavel.categoria }}">{{ cVariavel.categoria }}</option>
        {% endfor %}
      </select>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
    </div>
    <div class="p-2"></div>
    <button class="btn btn-primary">Adicionar</button>
    <div class="p-5"></div>
    <table class="table table-xs">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Company</th>
          <th>Location</th>
          <th>Last Login</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>Littel, Schaden and Vandervort</td>
          <td>Canada</td>
          <td>12/16/2020</td>
          <td>Blue</td>
        </tr>
        <!-- Add more rows here -->
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Company</th>
          <th>Location</th>
          <th>Last Login</th>
          <th>Color</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="p-5"></div>
{% endblock %}
{% block content %}
{% endblock %}